<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_HOME" value="/home"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <!--<layout>-->
        <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
        <!--</layout>-->
        <!--<layout>-->
            <!--<pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>-->
        <!--</layout>-->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <pattern>
                    { "level": "%level" }
                </pattern>
        </encoder>
        <host>127.0.0.1</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>
        <routingKeyPattern>testroute</routingKeyPattern>
        <exchangeName>logs</exchangeName>

        <declareExchange>true</declareExchange>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>

    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AMQP"/>
    </root>
</configuration>