<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true" />
    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="logPrefix" value="--mybatis---" />
    </settings>
    <typeAliases>
        <package name="org.ncmao.domain"/>
        <!--<typeAlias type="Person" alias="org.ncmao.domain.Person" />-->
    </typeAliases>
    <mappers>
        <mapper resource="PersonMapper.xml"/>
    </mappers>
</configuration>